*{
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 61.25em) {
      html {
          font-size: 58%;
          scroll-behavior: smooth;
      }
  }
  
  :root{
  --main-background:#222;
  --my-color: #55d6aa ;
  --project-bg: #02577a;
  }
  
  body{
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  background: var(--main-background)
  }
  
  .container{
    width: 80%;
    margin: 0 auto;
  }
  
  header{
    background: var(--my-color);
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  header::after{
    content: "";
    display: table;
    clear: both;
  
  }
  
  #navbar{
    float: right;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li{
    display: inline-block;
    margin-left: 70px;
    padding: 25px 0 15px 0;
    position: relative;
  }
  
  nav a{
    color: #444;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover{
    color: black;
  }
  
  nav a::before{
    content: " ";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    position: absolute; 
    top: 0;
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before{
    width: 100%;
  }
  
  #welcome-section{
    width: 100%;
    height: 100vh;
    margin-top: 100px; 
    padding-top: 50px;
  }
  
  .text{
    text-align: center;
    margin: 200px auto 0 auto;
    padding: 200px auto 0 auto;
  }
  
  #hello{
    color: white;
    font-size: 3rem;
  }
  
  #lobbyist{
    color: var(--my-color);
    font-size: 2rem;
    font-weight: 100;
    margin-top: 15;
  }
  
  #projects{
    width: 100%;
    height: 120vh;
    margin:100px 0 0 0;
    padding-top: 50px;
    background: var(--project-bg);
    text-align: center;

  }
  
  .my-projects-title{
    max-width: 350px; 
    margin: 0 auto 4rem auto;
    padding: 2rem 1rem 2rem 0;
    color: white;
    font-size: 3rem;
    border-bottom: 0.2rem solid white;
  }
  
  .project-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }
  
  .project-img{
    max-width: 450px;
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  
  .project-tile{
    background: var(--main-background);
    border-radius: 10px;
    text-decoration: none;
  }
  
  .project-title{
    font-size: 1.2rem;
    padding: 1.5rem 0.5rem;
    color:white;
  }
  
  .code{
    color: var(--main-background);
  }
  
  .project-tile:hover{
    .code{
    color: var(--my-color);
    transition:  0.5s ease-out;
    }
  }
  
  #contact{
    width: 100%;
    height: 100vh;
    margin-top: 100px; 
    padding-top: 50px;
  }
  
  .offer{
    color: white;
    text-align: center;
    font-size: 5rem;
    margin-top: 300px;
  }
  
  .social{
    color: white;
    text-align: center;
    margin-top: 50px;
  }
  
  .fa-github{
    color:var(--my-color);
  }
  #profile-link{
    text-decoration: none;
    color: var(--my-color);
    transition: 600ms ease-in-out;
  }
  #profile-link:hover{
    font-size: 3rem;
  }
  